<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matictechnology.shrijagdishmandir"
    android:versionCode="2"
    android:versionName="1.1">



    <!-- Register the Alarm Receiver -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/shh_logo"
        android:label="@string/app_name_eng"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver android:name="com.matictechnology.shrijagdishmandir.Activity.AlarmReceiver" />



        <activity
            android:name=".Activity.ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AcitivitySplashScreen"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ActivityUjjain"
            android:label="@string/title_activity_activity_ujjain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityTemple"
            android:label="@string/title_activity_activity_temple"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityOmkareshwar"
            android:label="@string/title_activity_activity_temple"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityHaridwar"
            android:label="@string/title_activity_activity_temple"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityAvlighat"
            android:label="@string/title_activity_activity_temple"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityBhopal"
            android:label="@string/title_activity_activity_temple"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityGallery"
            android:label="@string/title_activity_activity_gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.FullScreenViewActivity"
            android:label="@string/title_activity_activity_gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityNotification"
            android:label="@string/title_activity_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityContactUs"
            android:label="@string/title_activity_activity_contact_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityRegister"
            android:label="@string/title_activity_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityProfile"
            android:label="@string/title_activity_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityHelp"
            android:label="@string/title_activity_activity_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityAboutUs"
            android:label="@string/title_activity_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.matictechnology.shrijagdishmandir.AlarmService" />

        <activity
            android:name=".Activity.ActivityFAQs"
            android:label="@string/title_activity_activity_faqs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityTerms"
            android:label="@string/title_activity_activity_terms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivitySettings"
            android:label="@string/title_activity_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.ActivityNotiMsg" />

        <receiver android:name="com.matictechnology.shrijagdishmandir.BroadcastBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
